.btn-dark {
  --bs-btn-bg: #111;
  --bs-btn-border-color: #111;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
}

.btn-outline-dark {
  --bs-btn-hover-bg: #111;
  --bs-btn-hover-border-color: #111;
  --bs-btn-hover-color: #fff;
}
